In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
 
pd.pandas.set_option("display.max_rows",None)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_excel("/content/drive/MyDrive/diagnosis_data.xls")

In [ ]:
data.head()

  SPECIALITY_CODE  ...                                 DIAGNOSIS_ICD_TEXT
0            CARD  ...      Disorders of both mitral and tricuspid valves
1            CARD  ...  Atherosclerotic cardiovascular disease, so des...
2            CARD  ...                                                NaN
3            CARD  ...                                                NaN
4            CARD  ...                     Rheumatic mitral insufficiency

[5 rows x 22 columns]

In [ ]:
data.shape

(8694, 22)

In [ ]:
data.columns

Index(['SPECIALITY_CODE', 'Unnamed: 1', 'PATIENT_NAME', 'SEX', 'AGE',
       'ADM_TYPE', 'CURRPROCSURG', 'OPER_DT', 'SITTING_NUM', 'SITTING',
       'NATURE_CODE', 'OPER_NO', 'SURG_NUM', 'SURG', 'OPERCODE', 'OPER_NAME',
       'OPERCATEG', 'OPER_SUBCATEG', 'WEIGHT', 'HEIGHT', 'DIAGNOSIS',
       'DIAGNOSIS_ICD_TEXT'],
      dtype='object')

In [ ]:
a = data["PATIENT_NAME"].value_counts() > 1

In [ ]:
a = a.index

In [ ]:
a

Index(['AYUSH  DAS', 'JAYAMMA', 'PUNITH G CHANNAIAH', 'GANGAMMA', 'LAKSHMAMMA',
       'ANIL KUMAR', 'PUSHPA DEVI', 'MANJULA', 'UTTAM GHOSH', 'ARPITA BERA',
       ...
       'ASIT KUMAR MANDAL', 'BIJOY DAS', 'PRATAP AGISHAM', 'JINIL KUMAR',
       'PARAMESHWAR RANA', 'ALPANA RANI MANNA', 'SOUMYASHREE NAYAK',
       'JAHEDA AKTER RESHMA', 'MUNIREDDY A', 'ANGITA UPADHYAY'],
      dtype='object', length=6550)

In [ ]:
final1 = pd.DataFrame()
for i in range(len(a)):
  b = a[i]
  for j in range(len(data1)):
    if b == data1["PATIENT_NAME"][j]:
      final1 = final1.append({"PATIENT_NAME":b,"OPER_NAME":data1["OPER_NAME"][j],"OPER_DT":data1["OPER_DT"][j]},ignore_index = True)
      break

In [ ]:
final1.head()

     OPER_DT                                        OPER_NAME PATIENT_NAME
0 2019-08-13                                       ASD DEVICE     GANGAMMA
1 2019-05-06                      ELECTRO PHYSIOLOGICAL STUDY   LAKSHMAMMA
2 2019-05-20                               CORONARY ANGIOGRAM   ANIL KUMAR
3 2019-05-21  PERCUTANEOUSTRANSLUMINAL MITRAL COMMISSURECTOMY  PUSHPA DEVI
4 2019-08-03                      ELECTRO PHYSIOLOGICAL STUDY      MANJULA

In [ ]:
len(final1)

1438

In [ ]:
required = data[["OPER_DT","PATIENT_NAME","OPER_NAME"]]

In [ ]:
required.head()

     OPER_DT              PATIENT_NAME           OPER_NAME
0 2019-10-11                MAMTA DEVI  CORONARY ANGIOGRAM
1 2019-06-07  BASAVA RAJA KATANNANAVAR  CORONARY ANGIOGRAM
2 2019-05-22      NANDA KISHORE MISHRA  CORONARY ANGIOGRAM
3 2019-05-22         SUBHA KANTA NAYAK  CORONARY ANGIOGRAM
4 2019-10-01           ASHA RANI MAJHI  CORONARY ANGIOGRAM

In [ ]:
required.isnull().sum()

OPER_DT         0
PATIENT_NAME    0
OPER_NAME       0
dtype: int64

In [ ]:
#data.rename(columns = {"User id":"id"},inplace=True)

In [ ]:
#data["procedure"] = data["procedure"].astype("str")

In [ ]:
output = pd.DataFrame(columns=["id","procedure"])
for i,j in data.groupby(["PATIENT_NAME","OPER_DT"]):
  col1 = j.iloc[0]["PATIENT_NAME"]
  col2 = j["OPER_NAME"].str.cat(sep = ",")
  output = output.append({"id":col1,"procedure":col2},ignore_index = True)
print(output.head())

                                id                     procedure
0                       AKLEEM MO.            CORONARY ANGIOGRAM
1                 ALAMGIR HOSSAIN             CORONARY ANGIOGRAM
2                 ALAMGIR HOSSAIN              Off pump CABG X 2
3                   DELUYAR BHUIYA  REMOVAL OF EMBEDDED IMPLANTS
4   PEDDA  NARASIMHA REDDY MANDEM   RIGHT TOTAL KNEE REPLACEMENT

In [ ]:
output.columns

Index(['id', 'procedure'], dtype='object')

In [ ]:
unique_val = output["procedure"].unique()
len(unique_val)

570

##Desired Output is stored in output1

In [ ]:
def convert(x):
  return x.split(",")

In [ ]:
output["procedure"] = output["procedure"].map(lambda x : convert(x))

In [ ]:
output.head()

                                id                       procedure
0                       AKLEEM MO.            [CORONARY ANGIOGRAM]
1                 ALAMGIR HOSSAIN             [CORONARY ANGIOGRAM]
2                 ALAMGIR HOSSAIN              [Off pump CABG X 2]
3                   DELUYAR BHUIYA  [REMOVAL OF EMBEDDED IMPLANTS]
4   PEDDA  NARASIMHA REDDY MANDEM   [RIGHT TOTAL KNEE REPLACEMENT]

In [ ]:
output1 = output.groupby("id")["procedure"].apply(tuple).reset_index()

In [ ]:
output1.head()

                                id                                    procedure
0                       AKLEEM MO.                      ([CORONARY ANGIOGRAM],)
1                 ALAMGIR HOSSAIN   ([CORONARY ANGIOGRAM], [Off pump CABG X 2])
2                   DELUYAR BHUIYA            ([REMOVAL OF EMBEDDED IMPLANTS],)
3   PEDDA  NARASIMHA REDDY MANDEM             ([RIGHT TOTAL KNEE REPLACEMENT],)
4             PRABHABATI PATRA...                              ([PHACO + IOL],)

In [ ]:
#Original Data
data1 = pd.DataFrame(output["procedure"])
patients = len(data1)

In [ ]:
output1.head()

                                id                                    procedure
0                       AKLEEM MO.                      ([CORONARY ANGIOGRAM],)
1                 ALAMGIR HOSSAIN   ([CORONARY ANGIOGRAM], [Off pump CABG X 2])
2                   DELUYAR BHUIYA            ([REMOVAL OF EMBEDDED IMPLANTS],)
3   PEDDA  NARASIMHA REDDY MANDEM             ([RIGHT TOTAL KNEE REPLACEMENT],)
4             PRABHABATI PATRA...                              ([PHACO + IOL],)

##Getting Count of Sequences of Task1 present in data_count variable

In [ ]:
seq = []
for i in range(len(output["procedure"])):
  a = str(output["procedure"][i]).replace('(','').replace(')','').replace("[","").replace("]","").replace("'","")
  a = a.replace(" ","")
  a = (a.split(","))
  seq.append(a)

In [ ]:
seq

##Combinations for the Data

In [ ]:
from itertools import combinations
fii = []
for i in range(len(seq)):
  for j in range(1,5):
    comb = combinations(seq[i],j)
    fii.append(comb)

In [ ]:
final_seq = []
for i in fii:
  for j in i:
    final_seq.append(j)

In [ ]:
ones = np.ones(len(final_seq)).astype("int")

In [ ]:
data_final = pd.DataFrame({"key":final_seq,"count":ones},columns = ["key","count"])

In [ ]:
data_final = data_final.groupby("key").sum().reset_index()

In [ ]:
data_final.head()

                                                 key  count
0                      ("HEANEYSHYSTERECTOMY/NDVH",)      1
1                                   (ADENOIDECTOMY,)      1
2                              (ADENOTONSILLECTOMY,)     27
3                      (ANTERIORCERVICALDISCECTOMY,)     95
4  (ANTERIORCERVICALDISCECTOMY, BoneGrafting&Plat...      1

In [ ]:
data_fin = list(data_final["key"])

##Generate and test

In [ ]:
from itertools import permutations
values = []
 
for i in range(1,len(unique_val)+1):
  if i<=3:
    perm = permutations(unique_val,i)
    for j in perm:
      if j in data_fin:
        #print(j)
        values.append(j)

KeyboardInterrupt: ignored

In [ ]:
len(values)

37

In [ ]:
data_comb = list(data_final["key"])
 
for element in data_comb:
  if element not in values:
    print(element)

('5', '5')
('5', '6', '5')

In [ ]:
len(data_final)

39

##Association Rules

##Support

In [ ]:
#Calculating the support for all the sequences
support = []
element = []
sequence = []
n = len(output1)

for i in range(len(data_final)):
  a = str(data_final["key"][i]).replace("(","").replace(")","").replace("'","").replace(",","")
  for j in unique_val:
    for k in range(len(data_final)):
      b = str(data_final["key"][k]).replace("(","").replace(")","").replace("'","").replace(",","")
      c = a + " " +j
      if a != j:
        if c in b:
          d = data_final["count"].where(data_final["key"] == tuple(map(str, c.split(' '))))
          d = d.dropna()
          element.append(a)
          sequence.append(j)
          support.append(round(d.iloc[0]/n,4))
          break

In [ ]:
final = pd.DataFrame({"element":element,"sequence":sequence,"support":support})

In [ ]:
final

   element sequence  support
0        1        2   0.1667
1        1        5   0.0833
2        1        4   0.1667
3        1        3   0.1667
4      1 2        4   0.0833
5      1 3        5   0.0833
6      1 4        3   0.0833
7        2        6   0.1667
8        2        5   0.1667
9        2        4   0.2500
10       2        3   0.0833
11     2 3        4   0.0833
12     2 6        5   0.1667
13       3        2   0.0833
14       3        6   0.0833
15       3        5   0.1667
16       3        4   0.2500
17       3        1   0.0833
18     3 2        4   0.0833
19     3 5        6   0.0833
20       4        3   0.1667
21       4        1   0.0833
22     4 3        1   0.0833
23       5        6   0.1667
24     5 6        5   0.0833
25       6        2   0.0833
26       6        5   0.2500
27       6        4   0.0833
28       6        3   0.0833
29       6        1   0.0833
30     6 1        2   0.0833
31     6 3        4   0.0833

In [ ]:
new_inter = final.copy()

In [ ]:
#Calculation used for support of X and Support of Y
element_support = []
sequence_support = []
n = len(output1)

k = 0
for i in range(len(element)):
  a = element[i]
  c = sequence[k]
  k += 1
  flag = flag1 = False

  for j in range(len(data_final)):
    b = str(data_final["key"][j]).replace("(","").replace(")","").replace("'","").replace(",","")
    if a == b:
      element_support.append(data_final["count"][j]/n)
      flag = True
    
    if c == b:
      sequence_support.append(data_final["count"][j]/n)
      flag1 = True
    
    if flag == True and flag1 == True:
      break

In [ ]:
#Calculating the confidence for all the sequences
final["confidence"] = round(final["support"]/pd.Series(element_support),4)

##Lift

In [ ]:
#Calculation for Lift
n = len(output1)
num = final["support"]
denom = pd.Series(element_support) / pd.Series(sequence_support)
fin = num/denom
final["lift"] = round(fin,4)

In [ ]:
final

   element sequence  support  confidence    lift
0        1        2   0.1667      0.4001  0.2000
1        1        5   0.0833      0.1999  0.1000
2        1        4   0.1667      0.4001  0.2000
3        1        3   0.1667      0.4001  0.2334
4      1 2        4   0.0833      0.4998  0.2499
5      1 3        5   0.0833      0.4998  0.2499
6      1 4        3   0.0833      0.4998  0.2916
7        2        6   0.1667      0.3334  0.1667
8        2        5   0.1667      0.3334  0.1667
9        2        4   0.2500      0.5000  0.2500
10       2        3   0.0833      0.1666  0.0972
11     2 3        4   0.0833      0.9996  0.4998
12     2 6        5   0.1667      1.0002  0.5001
13       3        2   0.0833      0.1428  0.0714
14       3        6   0.0833      0.1428  0.0714
15       3        5   0.1667      0.2858  0.1429
16       3        4   0.2500      0.4286  0.2143
17       3        1   0.0833      0.1428  0.0595
18     3 2        4   0.0833      0.9996  0.4998
19     3 5        6   0.0833      0.4998  0.2499
20       4        3   0.1667      0.3334  0.1945
21       4        1   0.0833      0.1666  0.0694
22     4 3        1   0.0833      0.4998  0.2082
23       5        6   0.1667      0.3334  0.1667
24     5 6        5   0.0833      0.4998  0.2499
25       6        2   0.0833      0.1666  0.0833
26       6        5   0.2500      0.5000  0.2500
27       6        4   0.0833      0.1666  0.0833
28       6        3   0.0833      0.1666  0.0972
29       6        1   0.0833      0.1666  0.0694
30     6 1        2   0.0833      0.9996  0.4998
31     6 3        4   0.0833      0.9996  0.4998

In [ ]:
## e -> s

In [ ]:
final
e_to_s = list()
e_to_s = final.lift

In [ ]:
output1

    id        procedure
0    1    ([2, 6], [5])
1    2  ([4], [3], [1])
2    3  ([3], [2], [4])
3    4    ([1, 4], [3])
4    5  ([5], [6], [5])
5    6  ([1], [2], [4])
6    7    ([6], [3, 4])
7    8    ([2], [3, 4])
8    9  ([2], [6], [5])
9   10    ([1, 3], [5])
10  11  ([6], [1], [2])
11  12    ([3], [5, 6])

##New Interesting Measures

# New Section

In [ ]:
P = pd.Series(element_support) * len(output1)
N = pd.Series(sequence_support) * len(output1)

In [ ]:
p = []
n = []
for i in range(len(final)):
  a = final["element"][i]
  b = final["sequence"][i]
  count = 0
  count1 = 0
  for j in range(len(final)):
    if a == final["element"][j]:
      count += 1
    if b == final["sequence"][j]:
      count1 += 1
  p.append(count)
  n.append(count1)

In [ ]:
p = pd.Series(p)
n = pd.Series(n)

In [ ]:
new_inter["g"] = round(p/(p+n+2),3)
new_inter["wLap"] = round((p+1)*(P+N)/(p+n+2)*P,3)
new_inter["LS"] = round(p*N/(n*P),3)
new_inter["Rss"] = round((p/P) - (n/N),3)
new_inter["MS"] = round(p/(n+P),3)

In [ ]:
Cohen = ((P+N)*(p/(p+n))) - P / (((P+N)/2) * ((p+n+P)/(p+n))) - P
Coleman = (((P+N) * (p/(p+n))) - P) / N

In [ ]:
new_inter["C1"] = round(Coleman * (2 + Cohen)/3,3)
new_inter["C2"] = round(Coleman * 0.5*(1+(p/P)),3)

In [ ]:
new_inter

   element sequence  support      g    wLap     LS    Rss     MS     C1     C2
0        1        2   0.1667  0.400  27.500  1.200  0.133  0.444  0.054  0.075
1        1        5   0.0833  0.308  21.154  0.686 -0.367  0.333 -0.021 -0.150
2        1        4   0.1667  0.286  19.643  0.600 -0.533  0.308 -0.002 -0.200
3        1        3   0.1667  0.364  27.273  1.120  0.086  0.400  0.029  0.043
4      1 2        4   0.0833  0.091   2.909  0.375 -0.833  0.100 -0.030 -0.139
5      1 3        5   0.0833  0.100   3.200  0.429 -0.667  0.111 -0.033 -0.125
6      1 4        3   0.0833  0.125   4.500  0.700 -0.214  0.143 -0.028 -0.054
7        2        6   0.1667  0.400  36.000  1.000  0.000  0.400  0.000  0.000
8        2        5   0.1667  0.308  27.692  0.571 -0.500  0.308  0.026 -0.227
9        2        4   0.2500  0.286  25.714  0.500 -0.667  0.286  0.074 -0.278
10       2        3   0.0833  0.364  35.455  0.933 -0.048  0.364 -0.013 -0.026
11     2 3        4   0.0833  0.091   1.273  0.750 -0.333  0.111 -0.019 -0.037
12     2 6        5   0.1667  0.100   3.200  0.429 -0.667  0.111 -0.033 -0.125
13       3        2   0.0833  0.455  49.636  1.071  0.048  0.455  0.020  0.032
14       3        6   0.0833  0.455  49.636  1.071  0.048  0.455  0.020  0.032
15       3        5   0.1667  0.357  39.000  0.612 -0.452  0.357  0.023 -0.226
16       3        4   0.2500  0.333  36.400  0.536 -0.619  0.333  0.078 -0.286
17       3        1   0.0833  0.455  45.818  0.893 -0.086  0.455 -0.022 -0.057
18     3 2        4   0.0833  0.091   1.273  0.750 -0.333  0.111 -0.019 -0.037
19     3 5        6   0.0833  0.143   4.571  0.750 -0.167  0.167 -0.028 -0.050
20       4        3   0.1667  0.222  26.000  0.467 -0.381  0.182  0.085 -0.218
21       4        1   0.0833  0.250  24.750  0.417 -0.467  0.200  0.137 -0.311
22     4 3        1   0.0833  0.143   4.000  0.625 -0.300  0.167 -0.040 -0.090
23       5        6   0.1667  0.143  20.571  0.250 -0.500  0.100  0.411 -0.350
24     5 6        5   0.0833  0.100   3.200  0.429 -0.667  0.111 -0.033 -0.125
25       6        2   0.0833  0.455  39.273  1.250  0.167  0.500  0.077  0.102
26       6        5   0.2500  0.357  30.857  0.714 -0.333  0.385 -0.019 -0.153
27       6        4   0.0833  0.333  28.800  0.625 -0.500  0.357  0.005 -0.212
28       6        3   0.0833  0.417  39.000  1.167  0.119  0.455  0.046  0.065
29       6        1   0.0833  0.455  36.000  1.042  0.033  0.500  0.011  0.020
30     6 1        2   0.0833  0.143   2.000  1.500  0.333  0.200  0.048  0.067
31     6 3        4   0.0833  0.091   1.273  0.750 -0.333  0.111 -0.019 -0.037

In [ ]:
conf_thresh = 0.4
lift_thresh = 1.0
filter = pd.DataFrame([final.loc[i] for i in range(len(final)) if final["confidence"][i] >= conf_thresh and final["lift"][i] >= lift_thresh]).reset_index(drop = True)

In [ ]:
filter

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Creation of the categories.

In [ ]:
data_cate = pd.read_excel("/content/drive/MyDrive/hospital_trial_extra.xlsx")
print(data_cate)
data_cate.rename(columns = {"User id":"id"},inplace=True)
data_cate

    User id gender place  age
0         1      F     R   11
1         2      F     U   77
2         3      F     R   18
3         4      F     R   16
4         5      F     U   88
5         6      M     U   18
6         7      F     R   13
7         8      M     U   16
8         9      M     U   12
9        10      F     U   61
10       11      F     U   62
11       12      M     U   15

    id gender place  age
0    1      F     R   11
1    2      F     U   77
2    3      F     R   18
3    4      F     R   16
4    5      F     U   88
5    6      M     U   18
6    7      F     R   13
7    8      M     U   16
8    9      M     U   12
9   10      F     U   61
10  11      F     U   62
11  12      M     U   15

In [ ]:
'''
C1 = F : R : 1-18
C2 = F : R : 19-35
C3 = F : R : 35-60
C4 = F : R : >60
C5 = F : U : 1-18
C6 = F : U : 19-35
C7 = F : U : 35-60
C8 = F : U : >60
C9 = M : R :1-18
C10 = M : R : 19-35
C11 = M : R : 35-60
C12 = M : R : >60
C13 = M : U : 1-18
C14 = M : U : 19-35
C15 = M : U : 35-60
C16 = M : U : >60

'''

'\nC1 = F : R : 1-18\nC2 = F : R : 19-35\nC3 = F : R : 35-60\nC4 = F : R : >60\nC5 = F : U : 1-18\nC6 = F : U : 19-35\nC7 = F : U : 35-60\nC8 = F : U : >60\nC9 = M : R :1-18\nC10 = M : R : 19-35\nC11 = M : R : 35-60\nC12 = M : R : >60\nC13 = M : U : 1-18\nC14 = M : U : 19-35\nC15 = M : U : 35-60\nC16 = M : U : >60\n\n'

In [ ]:
samp_categ = pd.read_excel("/content/drive/MyDrive/sample_class.xlsx")
print(samp_categ)
samp_categ.rename(columns = {"User id":"id"},inplace=True)
samp_categ

    User id gender place  age
0         1      F     R   11
1         2      F     U   79
2         3      F     R   18
3         4      F     R   80
4         5      F     U   40
5         6      M     R   18
6         7      F     R   13
7         8      M     U   16
8         9      M     R   70
9        10      F     U   61
10       11      M     U   37
11       12      M     U   75

    id gender place  age
0    1      F     R   11
1    2      F     U   79
2    3      F     R   18
3    4      F     R   80
4    5      F     U   40
5    6      M     R   18
6    7      F     R   13
7    8      M     U   16
8    9      M     R   70
9   10      F     U   61
10  11      M     U   37
11  12      M     U   75

In [ ]:
category = pd.Series([])
for i in range(len(samp_categ)):
    if (samp_categ['gender'][i]== 'F') :
      if (samp_categ['place'][i]== 'R'):
        if (samp_categ['age'][i] >=1) & (samp_categ['age'][i]<=18):
          category[i] = "C1"
        elif (samp_categ['age'][i] >=19) & (samp_categ['age'][i]<=35):
          category[i] = "C2"
        elif (samp_categ['age'][i] >=36) & (samp_categ['age'][i]<=60):
          category[i] = "C3"
        else :
          category[i] = "C4"
      else:
        if (samp_categ['age'][i] >=1) & (samp_categ['age'][i]<=18):
          category[i] = "C5"
        elif (samp_categ['age'][i] >=19) & (samp_categ['age'][i]<=35):
          category[i] = "C6"
        elif (samp_categ['age'][i] >=36) & (samp_categ['age'][i]<=60):
          category[i] = "C7"
        else :
          category[i] = "C8"
    else:
      if (samp_categ['place'][i]== 'R'):
        if (samp_categ['age'][i] >=1) & (samp_categ['age'][i]<=18):
          category[i] = "C9"
        elif (samp_categ['age'][i] >=19) & (samp_categ['age'][i]<=35):
          category[i] = "C10"
        elif (samp_categ['age'][i] >=36) & (samp_categ['age'][i]<=60):
          category[i] = "C11"
        else :
          category[i] = "C12"
      else:
        if (samp_categ['age'][i] >=1) & (samp_categ['age'][i]<=18):
          category[i] = "C13"
        elif (samp_categ['age'][i] >=19) & (samp_categ['age'][i]<=35):
          category[i] = "C14"
        elif (samp_categ['age'][i] >=36) & (samp_categ['age'][i]<=60):
          category[i] = "C15"
        else :
          category[i] = "C16"

samp_categ.insert(4, "Category", category)
samp_categ.insert(5,"procedure",seq) 
samp_categ

    id gender place  age Category  procedure
0    1      F     R   11       C1  [2, 6, 5]
1    2      F     U   79       C8  [4, 3, 1]
2    3      F     R   18       C1  [3, 2, 4]
3    4      F     R   80       C4  [1, 4, 3]
4    5      F     U   40       C7  [5, 6, 5]
5    6      M     R   18       C9  [1, 2, 4]
6    7      F     R   13       C1  [6, 3, 4]
7    8      M     U   16      C13  [2, 3, 4]
8    9      M     R   70      C12  [2, 6, 5]
9   10      F     U   61       C8  [1, 3, 5]
10  11      M     U   37      C15  [6, 1, 2]
11  12      M     U   75      C16  [3, 5, 6]

In [ ]:
'''
samp_categ.to_excel("All_gender_classification.xlsx",
             sheet_name='Sheet_1')  
       '''

In [ ]:
category = pd.Series([])
for i in range(len(data_cate)):
    if (data_cate['gender'][i]== 'F') :
      if (data_cate['place'][i]== 'R'):
        if (data_cate['age'][i] >=1) & (data_cate['age'][i]<=18):
          category[i] = "C1"
        elif (data_cate['age'][i] >=19) & (data_cate['age'][i]<=35):
          category[i] = "C2"
        elif (data_cate['age'][i] >=36) & (data_cate['age'][i]<=60):
          category[i] = "C3"
        else :
          category[i] = "C4"
      else:
        if (data_cate['age'][i] >=1) & (data_cate['age'][i]<=18):
          category[i] = "C5"
        elif (data_cate['age'][i] >=19) & (data_cate['age'][i]<=35):
          category[i] = "C6"
        elif (data_cate['age'][i] >=36) & (data_cate['age'][i]<=60):
          category[i] = "C7"
        else :
          category[i] = "C8"
    else:
      if (data_cate['place'][i]== 'R'):
        if (data_cate['age'][i] >=1) & (data_cate['age'][i]<=18):
          category[i] = "C9"
        elif (data_cate['age'][i] >=19) & (data_cate['age'][i]<=35):
          category[i] = "C10"
        elif (data_cate['age'][i] >=36) & (data_cate['age'][i]<=60):
          category[i] = "C11"
        else :
          category[i] = "C12"
      else:
        if (data_cate['age'][i] >=1) & (data_cate['age'][i]<=18):
          category[i] = "C13"
        elif (data_cate['age'][i] >=19) & (data_cate['age'][i]<=35):
          category[i] = "C14"
        elif (data_cate['age'][i] >=36) & (data_cate['age'][i]<=60):
          category[i] = "C15"
        else :
          category[i] = "C16"

data_cate.insert(4, "Category", category)
data_cate.insert(5,"procedure",seq) 
data_cate

    id gender place  age Category  procedure
0    1      F     R   11       C1  [2, 6, 5]
1    2      F     U   77       C8  [4, 3, 1]
2    3      F     R   18       C1  [3, 2, 4]
3    4      F     R   16       C1  [1, 4, 3]
4    5      F     U   88       C8  [5, 6, 5]
5    6      M     U   18      C13  [1, 2, 4]
6    7      F     R   13       C1  [6, 3, 4]
7    8      M     U   16      C13  [2, 3, 4]
8    9      M     U   12      C13  [2, 6, 5]
9   10      F     U   61       C8  [1, 3, 5]
10  11      F     U   62       C8  [6, 1, 2]
11  12      M     U   15      C13  [3, 5, 6]

In [ ]:
'''
data_cate.to_excel("Gender_Categorization.xlsx",
             sheet_name='Sheet_1')  
'''

In [ ]:
final = pd.DataFrame({"C1":0,"C8":0,"C13":0,"element": element,"sequence": sequence,"support":support,"confidence":final.confidence,"lift":final.lift})
#final

In [ ]:
uniq_cate = list(set(data_cate.Category))
index = data_cate.index
index
for cat in uniq_cate:
    condition = data_cate["Category"] == cat
    indices = index[condition]
    indices_list = indices.tolist()
    print(cat,indices_list)
    for i in range (len(final)):
        a = final["element"][i][0:1]
        b = ""
        s = final["sequence"][i]
        if len(final["element"][i]) > 1:
            b = final["element"][i][2:3]
            #print(len(b))
        for l in indices_list:
            if (a in data_cate["procedure"][l]) and (s in data_cate["procedure"][l]) and (data_cate["procedure"][l].index(a) < data_cate["procedure"][l].index(s)):
                if b == "":
                    final[cat][i] = final[cat][i] + 1
                    #print(final[cat][i])
                elif (b in data_cate["procedure"][l]) and (data_cate["procedure"][l].index(a) < data_cate["procedure"][l].index(b)):
                    final[cat][i] = final[cat][i] + 1
#final

C13 [5, 7, 8, 11]
C1 [0, 2, 3, 6]
C8 [1, 4, 9, 10]

In [ ]:
final["C1_support"] = final.C1/len(output1)
final["C8_support"] = final.C8/len(output1)
final["C13_support"] = final.C13/len(output1)

final["C1_conf"] = final["C1_support"]/element_support
final["C8_conf"] = final["C8_support"]/element_support
final["C13_conf"] = final["C13_support"]/element_support

#final

In [ ]:
def lift(vari):
    a = pd.Series(element_support)
    b = len(output1) * pd.Series(sequence_support)
    numi = vari/len(output1)
    denomi = (a / b)/len(output1)
    out = numi/denomi
    return(out)

In [ ]:
final["C1_lift"] = lift(final.C1_support)
final["C8_lift"] = lift(final.C8_support)
final["C13_lift"] = lift(final.C13_support)

In [ ]:
## Corresponding categoriy lifts w.r.t element and sequence.
## c ^ e -> s

In [ ]:
c_and_e_to_s = final[['element','sequence','C1_support','C8_support','C13_support','C1_conf','C8_conf','C13_conf','C1_lift','C8_lift','C13_lift']]

In [ ]:
conf_thresh = 0.4
lift_thresh = 1.0
c_and_e_to_s_filter = pd.DataFrame([c_and_e_to_s.loc[i] for i in range(len(c_and_e_to_s)) if (c_and_e_to_s["C1_conf"][i] >= conf_thresh or c_and_e_to_s["C8_conf"][i] >= conf_thresh or c_and_e_to_s["C13_conf"][i] >= conf_thresh) and (c_and_e_to_s["C1_lift"][i] >= lift_thresh or c_and_e_to_s["C8_lift"][i] >= lift_thresh or c_and_e_to_s["C13_lift"][i] >= lift_thresh)]).reset_index(drop = True)

In [ ]:
c_and_e_to_s

   element sequence  C1_support  ...   C1_lift   C8_lift  C13_lift
0        1        2    0.000000  ...  0.000000  1.200000  1.200000
1        1        5    0.000000  ...  0.000000  1.200000  0.000000
2        1        4    0.083333  ...  1.200000  0.000000  1.200000
3        1        3    0.083333  ...  1.400000  1.400000  0.000000
4      1 2        4    0.000000  ...  0.000000  0.000000  3.000000
5      1 3        5    0.000000  ...  0.000000  3.000000  0.000000
6      1 4        3    0.083333  ...  3.500000  0.000000  0.000000
7        2        6    0.083333  ...  1.000000  0.000000  1.000000
8        2        5    0.083333  ...  1.000000  0.000000  1.000000
9        2        4    0.083333  ...  1.000000  0.000000  2.000000
10       2        3    0.000000  ...  0.000000  0.000000  1.166667
11     2 3        4    0.000000  ...  0.000000  0.000000  6.000000
12     2 6        5    0.083333  ...  3.000000  0.000000  3.000000
13       3        2    0.083333  ...  0.857143  0.000000  0.000000
14       3        6    0.000000  ...  0.000000  0.000000  0.857143
15       3        5    0.000000  ...  0.000000  0.857143  0.857143
16       3        4    0.166667  ...  1.714286  0.000000  0.857143
17       3        1    0.000000  ...  0.000000  0.714286  0.000000
18     3 2        4    0.083333  ...  6.000000  0.000000  0.000000
19     3 5        6    0.000000  ...  0.000000  0.000000  3.000000
20       4        3    0.083333  ...  1.166667  1.166667  0.000000
21       4        1    0.000000  ...  0.000000  0.833333  0.000000
22     4 3        1    0.000000  ...  0.000000  2.500000  0.000000
23       5        6    0.000000  ...  0.000000  1.000000  1.000000
24     5 6        5    0.000000  ...  0.000000  0.000000  0.000000
25       6        2    0.000000  ...  0.000000  1.000000  0.000000
26       6        5    0.083333  ...  1.000000  0.000000  1.000000
27       6        4    0.083333  ...  1.000000  0.000000  0.000000
28       6        3    0.083333  ...  1.166667  0.000000  0.000000
29       6        1    0.000000  ...  0.000000  0.833333  0.000000
30     6 1        2    0.000000  ...  0.000000  6.000000  0.000000
31     6 3        4    0.083333  ...  6.000000  0.000000  0.000000

[32 rows x 11 columns]

In [ ]:
'''
c_and_e_to_s_filter.to_excel("C^E_S.xlsx",
             sheet_name='Sheet_1')  
  '''

In [ ]:
data_cate

    id gender place  age Category  procedure
0    1      F     R   11       C1  [2, 6, 5]
1    2      F     U   77       C8  [4, 3, 1]
2    3      F     R   18       C1  [3, 2, 4]
3    4      F     R   16       C1  [1, 4, 3]
4    5      F     U   88       C8  [5, 6, 5]
5    6      M     U   18      C13  [1, 2, 4]
6    7      F     R   13       C1  [6, 3, 4]
7    8      M     U   16      C13  [2, 3, 4]
8    9      M     U   12      C13  [2, 6, 5]
9   10      F     U   61       C8  [1, 3, 5]
10  11      F     U   62       C8  [6, 1, 2]
11  12      M     U   15      C13  [3, 5, 6]

In [ ]:
def CountFrequency(my_list):
  
    # Creating an empty dictionary 
    freq = {"1":0,"2":0,"3":0,"4":0,"5":0,"6":0}
    for item in my_list:
        if (item in freq):
            freq[item] += 1
        else:
            freq[item] = 1
    return(freq)

In [ ]:
cate_seq = pd.DataFrame()
cate_seq["procedure"] = range(0,7)
count_var = list()
cate_wise = list(set(data_cate.Category))
index = data_cate.index
index
supx = list()
sup_x = list()
for cat in uniq_cate:
    condition = data_cate["Category"] == cat
    indices = index[condition]
    indices_list = indices.tolist()
    count_var.append(len(indices_list))
    print(cat,indices_list)
    supx.append(len(indices_list)/len(output1))
    sup_x.append((len(indices_list)/len(output1))/len(output1))
    l = list()
    for i in range(len(indices_list)):
           l=l + data_cate["procedure"][indices_list[i]]
    freq = CountFrequency(l)
    list1 = list()
    list1.append(0)
    for key, value in freq.items():
        list1.append(value)
    cate_seq[cat] = list1

C13 [5, 7, 8, 11]
C1 [0, 2, 3, 6]
C8 [1, 4, 9, 10]

In [ ]:
cate_seq.iloc[1:,:]
#sup_x

   procedure  C13  C1  C8
1          1    1   1   3
2          2    3   2   1
3          3    2   3   2
4          4    2   3   1
5          5    2   1   3
6          6    2   2   2

In [ ]:
cate_seq["C13_support"] = cate_seq.C13/len(output1)
cate_seq["C8_support"] = cate_seq.C8/len(output1)
cate_seq["C1_support"] = cate_seq.C1/len(output1)

In [ ]:
count_var[1]

4

In [ ]:
new_data = pd.DataFrame()
new_data["C13_lift_top"] = cate_seq.C13/count_var[0]
new_data["C8_lift_top"] = cate_seq.C8/count_var[1]
new_data["C1_lift_top"] = cate_seq.C1/count_var[2]

new_data

   C13_lift_top  C8_lift_top  C1_lift_top
0          0.00         0.00         0.00
1          0.25         0.75         0.25
2          0.75         0.25         0.50
3          0.50         0.50         0.75
4          0.50         0.25         0.75
5          0.50         0.75         0.25
6          0.50         0.50         0.50

In [ ]:
cat_to_seq = cate_seq.iloc[1:,:]

In [ ]:
l2 = list()
supy = list()
sup_y = list()
supy.append(0)
sup_y.append(0)
for j in range(len(data_cate)):
    l2 = l2 + data_cate["procedure"][j]
#print(l2)
proc_freq = CountFrequency(l2)
#print(proc_freq)
for key, value in proc_freq.items():
    supy.append(value/len(output1))
    sup_y.append((value/len(output1))/len(output1))

supy
#sup_y

[0, 0.4166666666666667, 0.5, 0.5833333333333334, 0.5, 0.5, 0.5]

In [ ]:
for k in range(len(supx)):
    cate_seq["C13_conf"] = cate_seq["C13_support"]/supx[k]
    cate_seq["C8_conf"] = cate_seq["C8_support"]/supx[k]
    cate_seq["C1_conf"] = cate_seq["C1_support"]/supx[k]

In [ ]:
def lift(vari,x,y):
    print(y)
    numi = vari
    denomi = pd.Series(y)
    out = numi/denomi
    return(out)

In [ ]:
cate_seq["C13_lift"] = lift(new_data.C13_lift_top,sup_x[0],supy)
cate_seq["C8_lift"] = lift(new_data.C8_lift_top,sup_x[1],supy)
cate_seq["C1_lift"] = lift(new_data.C1_lift_top,sup_x[2],supy)

[0, 0.4166666666666667, 0.5, 0.5833333333333334, 0.5, 0.5, 0.5]
[0, 0.4166666666666667, 0.5, 0.5833333333333334, 0.5, 0.5, 0.5]
[0, 0.4166666666666667, 0.5, 0.5833333333333334, 0.5, 0.5, 0.5]

In [ ]:
## The table and lifts according to categories only with sequences.
## c -> s

In [ ]:
cat_to_seq = cate_seq.iloc[1:,:]

In [ ]:
cat_to_seq

   procedure  C13  C1  C8  ...  C1_conf  C13_lift   C8_lift   C1_lift
1          1    1   1   3  ...     0.25  0.600000  1.800000  0.600000
2          2    3   2   1  ...     0.50  1.500000  0.500000  1.000000
3          3    2   3   2  ...     0.75  0.857143  0.857143  1.285714
4          4    2   3   1  ...     0.75  1.000000  0.500000  1.500000
5          5    2   1   3  ...     0.25  1.000000  1.500000  0.500000
6          6    2   2   2  ...     0.50  1.000000  1.000000  1.000000

[6 rows x 13 columns]

In [ ]:
'''
cat_to_seq.to_excel("C_to_S.xlsx",
             sheet_name='Sheet_1')  
'''

In [ ]:
## Category combined lift

## c^e->s/e->s

In [ ]:
cat_comb_lift = pd.DataFrame()
cat_comb_lift["element"] = final.element
cat_comb_lift["sequence"] = final.sequence
cat_comb_lift["E->S_Lift"] = e_to_s
cat_comb_lift["C1^E->S_Lift"] = final.C1_lift
cat_comb_lift["C8^E->S_Lift"] = final.C8_lift
cat_comb_lift["C13^E->S_Lift"] = final.C13_lift
cat_comb_lift["C1_Combined_Lift"] = final.C1_lift/e_to_s
cat_comb_lift["C8_Combined_Lift"] = final.C8_lift/e_to_s
cat_comb_lift["C13_Combined_Lift"] = final.C13_lift/e_to_s

In [ ]:
lift_thresh = 1.0
cat_comb_lift_filter = pd.DataFrame([cat_comb_lift.loc[i] for i in range(len(cat_comb_lift)) if cat_comb_lift["E->S_Lift"][i] >= lift_thresh and (cat_comb_lift["C1^E->S_Lift"][i] >= lift_thresh or cat_comb_lift["C8^E->S_Lift"][i] >= lift_thresh or cat_comb_lift["C13^E->S_Lift"][i] >= lift_thresh)]).reset_index(drop = True)

In [ ]:
cat_comb_lift_filter

Empty DataFrame
Columns: []
Index: []

In [ ]:
'''
cat_comb_lift_filter.to_excel("Category_combined_Lift.xlsx",
             sheet_name='Sheet_1')  
'''

In [ ]:
## Sequence combined lift

## c^e->s/c->s

In [ ]:
sample = pd.DataFrame()
sample["procedure"] = range(0,7)
seq_combi_lift = pd.DataFrame()
seq_combi_lift["procedure"] = sample["procedure"][1:]

In [ ]:
comb_seq_numi= list()
for i in range(1,7):
    d = c_and_e_to_s.loc[c_and_e_to_s['sequence']== str(i)]
    sum = np.prod(d['C1_lift']) + np.prod(d['C8_lift']) + np.prod(d['C13_lift'])
    comb_seq_numi.append(sum)
comb_seq_numi

[1.2400793650793644, 0.0, 0.0, 0.0, 0.0, 2.571428571428571]

In [ ]:
seq_combi_lift["seq_Comb_Numerator"] = comb_seq_numi

In [ ]:
comb_seq_denomi = list()
comb_seq_denomi.append(list(cat_to_seq["C13_lift"] + cat_to_seq["C8_lift"] + cat_to_seq["C1_lift"]))
comb_seq_denomi[0]

[3.0, 3.0, 3.0, 3.0, 3.0, 3.0]

In [ ]:
seq_combi_lift["seq_Comb_Denominator"] = comb_seq_denomi[0]

In [ ]:
seq_combi_lift["Seq_Combined_Lift"] = seq_combi_lift["seq_Comb_Numerator"]/seq_combi_lift["seq_Comb_Denominator"]

In [ ]:
seq_combi_lift

   procedure  seq_Comb_Numerator  seq_Comb_Denominator  Seq_Combined_Lift
1          1            1.240079                   3.0           0.413360
2          2            0.000000                   3.0           0.000000
3          3            0.000000                   3.0           0.000000
4          4            0.000000                   3.0           0.000000
5          5            0.000000                   3.0           0.000000
6          6            2.571429                   3.0           0.857143

In [ ]:
'''
seq_combi_lift.to_excel("Sequence_combined_lift.xlsx",
             sheet_name='Sheet_1') 
 '''

In [ ]:
##Individual Lift Category wise, #Individual Lift Sequence

In [ ]:
cate_seq_1 = cate_seq[1:]
cate_seq_1.reset_index(inplace=True,drop = True)
cate_seq_1

   procedure  C13  C1  C8  ...  C1_conf  C13_lift   C8_lift   C1_lift
0          1    1   1   3  ...     0.25  0.600000  1.800000  0.600000
1          2    3   2   1  ...     0.50  1.500000  0.500000  1.000000
2          3    2   3   2  ...     0.75  0.857143  0.857143  1.285714
3          4    2   3   1  ...     0.75  1.000000  0.500000  1.500000
4          5    2   1   3  ...     0.25  1.000000  1.500000  0.500000
5          6    2   2   2  ...     0.50  1.000000  1.000000  1.000000

[6 rows x 13 columns]

In [ ]:
cate_seq_1["C13_lift"].iloc[0]
#final["sequence"][0]

0.6

In [ ]:
def two_cols(count):
  out = []
  for i in range(len(cate_seq_1)):
    num = cate_seq_1["C13_lift"][i] * cate_seq_1["C8_lift"][i] * cate_seq_1["C1_lift"][i]
    multiply = 1
    for j in range(len(final)):
      if final["sequence"][j] == cate_seq_1["procedure"][i]:
        multiply = multiply * final["lift"][j]

    if count == 0:
      ans = num/(multiply + num)
      out.append(ans)
    else:
      ans = multiply/(multiply + num)
      out.append(ans)
  return out

In [ ]:
ans = two_cols(count= 0)
ans1 = two_cols(count = 1)
ans = round(pd.Series(ans),4)
ans1 = round(pd.Series(ans1),4)

In [ ]:
ind_lift_cat_seq = pd.DataFrame({"procedure": cate_seq_1["procedure"],"Ind_Lift_Cat_wise": ans,"Ind_Lift_Seq_wise": ans1})
ind_lift_cat_seq

   procedure  Ind_Lift_Cat_wise  Ind_Lift_Seq_wise
0          1             0.3932             0.6068
1          2             0.4286             0.5714
2          3             0.4858             0.5142
3          4             0.4286             0.5714
4          5             0.4286             0.5714
5          6             0.5000             0.5000

In [ ]:
#ind_lift_cat_seq.to_excel("/content/drive/MyDrive/two_formulaes.xlsx")